[Unit]
Description=Gunicorn server for SITENAME

[Service]
Restart=on-failure
User=yyy
WorkingDirectory=/home/zj/sites/123.57.51.9/source
ExecStart=/home/zj/sites/123.57.51.9/virtualenv/bin/gunicorn --bind unix:/tmp/123.57.51.9.socket superlists.wsgi:application

[Install]
WantedBy=multi-user.target

